<h1>Welcome</h1>

<table>
  <% @to_dos.each do |to_do| %>
      <tr>
        <td><%= to_do.name %></td>
        <td><%= link_to 'Destroy', list_to_do_path(@list, to_do), method: :delete %>
      </tr>
  <% end %>
</table>

<%= link_to '+ Create To Do', new_list_to_do_path %>